/* Your app custom styles here */

.es
    background url('../static/img/flag.png')
    width 15px
    height 10px
    display block
    background-size 100% auto
    background-repeat no-repeat
    background-position left top

.swiper-slide
    // height 300px
    background-size cover
    img
        width 100%
        height auto

.card-header
    min-height 200px
    background-size cover

p.title
    font-weight bold

.card-content-padding
    min-height 300px




@media only screen and (min-device-width: 320px) and (max-device-width: 812px)
    .swiper-slide
        // min-height: 150px
    .card-content-padding
        min-height 200px